@model IEnumerable<Lshp.OpenIDConnect.Service.AdminService.ClientViewModels.ClientSecret>
@{
    Layout = null;
    var id = @ViewBag.clientID;
}
<a href="javascript:void(0)" data-newtarget="AddClientSecret_new" id="AddClientSecret" data-href="/ClientSecret/Create?clientId=@id" class="singleajax">Add</a>
<div id="AddClientSecret_new"></div>
<table class="table table-bordered table-hover">
    <thead><tr><th></th><th>ID</th><th>Type</th><th>Value</th></tr> </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr><td><a href="javascript:void(0)" data-newtarget="AddClientSecret_new" id="DelClientSecret_new" data-href="/ClientSecret/DeleteClientSecret/@item.Id?clientId=@item.ClientId" class="singleajax"><i class="fa fa-times" aria-hidden="true"></i></a></td> <td>@item.Id</td><td>@item.Type</td><td>@item.Value</td></tr>
        }
    </tbody>
</table>

@Html.Partial("_ViewCommonJavascript")